global:
  scrape_interval: 15s
  evaluation_interval: 15s

alerting:
  alertmanagers:
    - static_configs:
        - targets:
          - alertmanager:9093

rule_files:
  - /etc/prometheus/alert_rules.yml

scrape_configs:
  - job_name: eis_backend
    scrape_interval: 15s
    static_configs:
      - targets:
          - api:8799
    metrics_path: /metrics

  - job_name: prometheus
    static_configs:
      - targets:
          - localhost:9090
