fastapi==0.120.0
uvicorn==0.38.0
pydantic==2.12.3
msal==1.28.0
requests==2.32.3
python-multipart==0.0.9
opencensus-ext-azure==1.1.9
azure-identity==1.17.0
azure-core==1.30.2
cryptography==44.0.3
prometheus_client==0.20.0
